<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Join page</title>
</head>
<body>
<h1>Join page</h1>
<form th:action="@{/register}" th:object="${accountDto}" method="post" >
    <label for="username">Username</label>:
    <input type="text" id="usernmae" name="username" autofocus="autofocus" /> <br />
    <label for="password">Password</label>:
    <input type="password" id="password" name="password" /> <br />
    <label for="email">Email</label>:
    <input type="email" id="email" name="email" /> <br />
    <input type="submit" value="Log in" />
</form>
</body>
</html>